<!--
    Configuration for Eclipse Scout SDK Functional Tests
 -->
<configuration>
    <project>ScoutIntegrationTests</project>
    <version>1.0</version>
    <dburl>jdbc:h2:C:/ci/Jubula/jubula_1.3.00071/jubula/database/embedded</dburl>
	<dbscheme>Default Embedded (H2)</dbscheme>
    <dbuser>sa</dbuser>
    <dbpw></dbpw>
    <autconfig>EclipseKeplerAUT@localhost</autconfig>
    <server>localhost</server>
    <port>60000</port>
    <language>de_DE</language>
    <testsuite>PRODUCTIVE</testsuite>
    <datadir>.</datadir>
    <resultdir>./target</resultdir>
</configuration>
